body{
    background-color:white;
    color:#666;
    font-size:16px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
nav{
    position:fixed;
    top:0px;
    left:0px;
    margin:0 auto;
    width:100%;
    background-color:#222;
}
nav ul{
    list-style-type:none;
    text-align:center;
}
nav ul li{
    display:inline-block;
    text-align:center;
    padding:20px;
    height:2%;
}
nav ul li a:hover{
    border-bottom:2px solid #ccc;
    padding-bottom:8px;
}
nav ul li a{
    text-decoration:none;
    color:rgb(255,255,255);
    padding:20px;
}
#main{
    width:100%;
    height:auto;
    margin:0 auto 2% auto;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg);
    background-size:cover;
    background-position:50% 20%;
    padding-top:50vh;
    padding-bottom:50vh;
}
#main h1{
    text-align:center;
    font-size:3em;
    color:black;
    background-color:rgba(100,100,100,.7);
}
h2{
    text-align: center;
    width: 100%;
}
.fun-facts{
    margin: 1% 10%;
}
#fillmurrayslides{
    width: 50%;
}